.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 0 10%;
    overflow: auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

ul {
    list-style: none;
    border: 1px solid;
    margin: 0;
    padding: 20px;
}

ul li {
    padding: 10px;
}

.post {
    margin-bottom: 20px;
    border: 1px solid;
}

.editor {
    border: 1px solid;
    padding: 10px;
}
